// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
  width: 100%;
  text-align: center;

}

#result_row {
  align-items: center;
  justify-content: center;
}

label {
  margin-left: 15px;
  margin-right: 10px;
}

.submit_button {
  width: 100%;
  align-items: center;
}

.row {
  margin: auto;
  padding: 10px;
}

.border-1 {
  border-style: solid !important;
  border-color: #007bff !important;
  border-width: thick !important;
  border-radius: 10px;
}
