// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th, h3 {
  color: white;
  background-color: #007bff;
  text-align: center;
}

td {
  text-align: center;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.col-md-4 img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  margin-top: 8px;
  padding-bottom: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.col-md-8 {
  min-width: 25%;

#user_intro {
    background: url("https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#user_edit {
    background: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
